@import url('https://fonts.googleapis.com/css?family=B612:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=B612+Mono&display=swap');

:root {
	--cornflower-blue: #4488ff;
	--coral-red: #ff4444;
}

%input {
  appearance: none;
  height: 40px;
  padding: 0 10px;
  border: none;
  background: #eee;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
}

%button {
  appearance: none;
  height: 40px;
  background: var(--cornflower-blue);
  border: 1px solid #66aaff;
  color: white;
  border-radius: 3px;
}
