@import url('https://fonts.googleapis.com/css?family=B612:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=B612+Mono&display=swap');

%input {
  appearance: none;
  height: 40px;
  padding: 0 10px;
  border: none;
  background: #eee;
  border-radius: 3px;
}

%button {
  appearance: none;
  height: 40px;
  background: #ddd;
  border-radius: 3px;
}
